@import './base.css';

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    line-height: 1.5em;
}
  
body {
    width: 100vw;
    margin: 0;
    background-color: fff;
}

/* ---------------------- */
/*        header          */
/* ---------------------- */

.header {
    height: 203px;
    margin-bottom: 27px;
    background-color: #F6F5EC;
}

.header-component {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}

.store-name {
    font-size: 40px;
    font-weight: 700;
}

.fa-solid,
.fa-regular {
    font-size: 40px;
    width: 41px;
    height: 42px;
}

.fa-solid {
    margin-right: 16px;
}

.header-nav-ulist {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-list {
    font-weight: 700;
    font-size: 24px;
}

/* -------------------------- */
/*        hero image          */
/* -------------------------- */

#hero-image-container {
    background-color: #EFE7DA;
    padding: 40px;
    margin-bottom: 20px;
}

#hero-image {
    width: 100%;
}

/* ---------------------------------- */
/*        recommended product         */
/* ---------------------------------- */

.bestselling {
    background-color: #E1DACA;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    height: 74px;
    align-items: center;
    margin-bottom: 30px;
}

.bestselling-products {
    display: flex;
    padding-left: 57px;
    padding-right: 57px;
    column-gap: 120px;
    margin-bottom: 30px;
    white-space: nowrap; 
    overflow: scroll
}

.bestselling-shampoo {
    width: 272px;
    height: 270px;
    
}

.bestselling-text {
    font-size: 20px;
    font-weight: 700;
}

/* ------------------------------------------ */
/*        payment and delivery choice         */
/* ------------------------------------------ */

.payment-delivery {
    display: flex;
    justify-content: space-between;
    padding: 20px 55px;
    background-color: #EFE7DA;
    border-bottom: 1px solid black;
    height: 70px;
}

.payment-method,
.delivery-method {
    display: flex;
    column-gap: 32px;

}

.payment-delivery-method-text {
    font-size: 24px;
}

.payment-logo,
.delivery-logo {
    display: flex;
    column-gap: 16px;
}

.visa-card {
    width: 90px;
    height: 39px;
}

.master-card {
    width: 70px;
    height: 39px;
}

.american-express {
    width: 60px;
    height: 39px;
}

.fedex-logo {
    width: 39px;
    height: 39px;
}

.ups-logo {
    width: 39px;
    height: 39px;
}

.zto-logo {
    width: 80px;
    height: 39px;
}

/* ----------------------------------- */
/*        subscribe suggestion         */
/* ----------------------------------- */

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFE7DA;
    height: 120px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 38px;
}

.subscribe-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: 600;
}

/* -------------------- */
/*        footer        */
/* -------------------- */

.footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.footer-info {
    display: flex;
    column-gap: 45px;
}

.contact-info {
    display: flex;
    column-gap: 25px;
}

.contact-us {
    font-weight: 700;
    text-decoration-line: underline;
}


/* -------------------------------- */
/*        responsive design         */
/* -------------------------------- */

@media (max-width: 1000px) {
    .payment-delivery {
        display: block;
        height: 140px;
    }

    .payment-method {
        margin-bottom: 30px;
    }
}

@media (max-width: 850px) {
    .bestselling-products {
        column-gap: 80px;
    }

    .bestselling-shampoo {
        width: 170px;
        height: 170px;
    }
}