.content {
    /* margin: auto; */
    /* padding-top: 50px;
    padding-bottom: 50px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.login {
    display: inline-block;
    width: 350px;
}

.input-line {
    display: block;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 0px;
    margin: auto;
    text-align: center;
}

.input-wrapper {
    margin: 20px;
}

label {
    font-size: 20px;
    font-weight: 600;
}

#forget-password {
    font-size: 14px;
    margin-top: 0;
    padding: 0 20px;
    display: flex;
    justify-content: end;
}

#login-btn {
    width: 320px;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #EFE7DA;
    background-color: #EFE7DA;
    margin: 20px;
    margin-top: 30px;
    font-weight: 700;
    height: 50px;
    font-size: medium;
    text-transform: uppercase;
}

.acc {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.acc:hover,
#forget-password:hover {
    text-decoration: underline;
    transition: 0.3s ease;
    color: #0787fd;
}

.wrong-credentials {
    color: #ff4742;
    font-size: 20px;
    text-align: center;
   
}