.payment-page-content {
    margin: auto;
    padding: 0 54px 15px 54px;
    height: fit-content;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    overflow-y: hidden;
}

.path {
    font-size: 20px;
    margin-left: 54px;
    margin-top: 34px;
    border-bottom: 2px solid black;
    display: inline-block;
    width: 1083px;
    padding-bottom: 20px;
}

.current-path {
    font-weight: 700;
}

.payment {
    width: 70%;
    margin-top: 20px;
}

hr {
    margin-top: 20px;
    height: 2px;
    background-color: black;
}

.shipping-address-info {
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.address-info,
.shipping-info {
    display: flex;
    gap: 10px;
}

.shipping-address {
    font-size: 20px;
}

.payment-section-container {
    margin-bottom: 20px;
}

.payment-method {
    display: flex;
    justify-content: space-between;
}

.payment-method h3 {
    font-size: 25px;
    margin-top: 0;
    font-weight: 500;
}

.payment-icon-container {
    display: flex;
    column-gap: 16px;
}

.payment-icon {
    height: 26px;
    width: 39px;
}

.payment-details {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    column-gap: 5px;
}

.input-line {
    display: block;
    background-color: #EFE7DA;
    border: 1px solid black;
    height: auto;
    width: 100%;
    padding: 5px 10px;
    margin: auto;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
}

.payment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.return-cart {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.shipping-btn,
.code-apply-btn {
    background-color: black;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
}

/* biling address */
.bill-input {
    display: flex;
    align-items: center;
    column-gap: 10px;
    /* font-size: 10px; */
    /* height: 25px; */
    background-color: #EFE7DA;
    padding: 5px 20px;
    border: 1px solid black;
}

label[for="shipping-address"],
label[for="billing-address"],
label[for="remember"] {
    font-size: 16px;
    font-weight: 300;
}

.input-radio {
    margin: 0;
}

.input-radio,
.checkbox-radio {
    transform: scale(1.2); 
}

.checkbox-radio {
    border-radius: 0;
    border: 2px solid black;
}











/* summary */
.checkout-summary {
    width: 30%;
    background-color: #EFE7DA;
    padding: 30px 20px;
    height: fit-content;
}

.checkout-summary-form {
    margin-top: 20px;
}

.checkout-summary p {
    font-weight: 500;
    font-size: 16px;
}

.checkout-summary hr {
    height: 2.2px;
    font-weight: bold;
    margin-top: 10px;
}

.checkout-summary h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.summary-details {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    margin-bottom: 0;
}

.summary-details:not(:last-child) {
    margin-bottom: 0;
}

.summary-details .total {
    font-weight: bold;
}

.discount {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    margin-bottom: 0;
}

.discount-details {
    margin-bottom: 19px;
}

.shipping-btn:hover,
.btn:hover {
    background-color: white;
    color: black;
    border: white;
    font-weight: bold;
}

.shipping-btn:hover,
.btn:hover {
    background-color: white;
    color: black;
    border: white;
    font-weight: bold;
}